@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

/* shared styles */

a{
    text-decoration: none;
}

.white{
    color: #f7f7f7;
}
.sky-blue{
    color: #01ACFD;
}
.orange{
    color: #FEA301;
}

.button-primary{
    color: #f7f7f7;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}


/* header section styles */

header{
    padding: 20px 140px 0px;
}
.bar{
    display: none;  /*It's only work for mobile device*/
}

/* navbar area design */
header>nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav>.web-title{
    display: flex;
    align-items: center;
}
.web-title>h3{
    font-size: 2rem;
    font-weight: 700;
}
nav>ul{
    display: flex;
    gap: 32px;
    list-style: none;
}
nav>ul>li{
    font-size: 20px;
    font-weight: 600;
}
nav>ul>li:first-child{
    font-weight: 700;
}
nav>ul a{
    text-decoration: none;
}
.link-3{
    color: #05D4DF;
}
.link-4{
    color: #5D58EF;
}
nav button{
    background-color: #FEA301;
    padding: 10px 60px;
}

/* news section style */
header>.news-box{
    display: flex;
    align-items: center;
    margin: 25px 0px;
    border: 1px solid #05D4DF;
    border-right: none;
}
header>.news-box>span{
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    position: relative;
    display: inline-block;
    flex-shrink: 0;
    padding: 8px 20px;
    background: #05D4DF;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
}
header>.news-box>marquee{
    font-weight: 500;
    color: #95B226;
    background: #fff;
}

/* hero area design */

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box-title{
    font-size: 3.5rem;
    font-weight: 700;
}
.box-description{
    margin: 24px 0px;
    font-size: 20px;
}
.hero button{
    background-color: #111111;
    padding: 10px 47px;
}


/* main section styles */

/* curriculum area style */

.curriculum{
    text-align: center;
    background-image: url(../assets/bg.png);
    padding: 60px 140px 0px;
}

.curriculum>h3{
    font-size: 2.875rem;
    font-weight: 700;
}
.card{
    margin-top: 80px;
    display: flex;
    gap: 28px;
}

.card img{
    margin-top: 53px;
}

.card p{
    color: #808080;
    font-size: 1rem;
    font-weight: 500;
}
.card h4{
    font-size: 1.5rem;
    font-weight: 700;
    margin: 32px auto;
}
.card a{
    display: inline-block;
    font-weight: 700;
    margin: 38px auto;
}

.card .card-1{
    background-image: linear-gradient(#DEF5FF, #FFFFFF);
    border: 1px solid #DEF5FF;
    border-radius: 20px;
    padding: 20px;
}

.card .card-1>a{
    color: #64C8FF;
}
.card .card-2{
    background-image: linear-gradient(#FFF4DC, #FFFFFF);
    border: 1px solid #FFF4DC;
    border-radius: 20px;
    padding: 20px;
}
.card .card-2>a{
    color: #F0AA00;
}
.card .card-3{
    background-image: linear-gradient(#EEE1FF, #FFFFFF);
    border: 1px solid #EEE1FF;
    border-radius: 20px;
    padding: 20px;
}
.card .card-3>a{
    color: #8700FF;
}

.curriculum>.more-for-arrow{
    margin-top: 80px;
}
.more-for-arrow i{
    color: #ffffff;
    background-color: #FEA301;
    font-size: 1.5rem;
    padding: 18px 22px;
    border-radius: 50%;
    cursor: pointer;
}
.more-for-arrow i:nth-child(2){
    margin-left: 10px;
}


/* story area styles */

.story{
    background: url(../assets/bg.png), linear-gradient(to top, rgba(254, 163, 1, 0.4), #FFFFFF);
    margin-top: 60px;
    padding: 60px 140px 0px;
}
.story>h3{
    font-size: 2.875rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 80px;
}

.story-1{
    grid-area: story-1;
    width: 35vw;
}
.story-2{
    grid-area: story-2;
}
.story-3{
    grid-area: story-3;
}
.story-4{
    grid-area: story-4;
}
.story-5{
    grid-area: story-5;
}
.m-story{
    width: 18vw;
}

.story .story-box{
    display: grid;
    gap: 1.3vw;
    grid-template-areas: 
    "story-1 story-2 story-3"
    "story-1 story-4 story-5" ;
}
.story .story-box>div{
    background-color: #fff;
    border-radius: 16px;
}
.story .story-box img{
    border-radius: 16px 16px 0px 0px;
    width: 18vw;
}
#first-story{
    width: 35vw;
}
.story h4{
    margin: 38px 38px 28px;
    font-size: 1.5rem;
    font-weight: 700;
}
.story-1-description{
    font-weight: 500;
    color: #666666;
    margin: 38px 38px 28px;
}
.story .date{
    background-color: #95B226;
    color: #fff;
    font-weight: 500;
    padding: 10px 19px;
    border-radius: 45px;
    display: inline;
    position: relative;
    bottom: 16px;
    left: 15px;
}

.story .str-btn{
    text-align: center;
    margin-top: 80px;
}
.story button{
    background-color: #111111;
    padding: 10px 60px;
    margin-bottom: 60px;
}


/* footer section styles */
footer{
    padding: 125px 140px 125px;
    background-color: #01ACFD;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
footer>div:first-child{
    width: calc(50vw - 280px);
}
footer>div:first-child>p{
    font-size: 1.2rem;
    margin-top: 35px;
}
footer>div>.footer-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
footer>div>.footer-logo>h3{
    font-size: 1.8rem;
    font-weight: 700;
}

footer img{
    background-color: #fff;
    border-radius: 5px;
}

footer .link{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .link>h4{
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 12px;
}
footer .link>a{
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
}

footer .social-media-icon>h4{
    font-size: 1.525rem;
    font-weight: 700;
    margin-bottom: 32px;
}
footer .social-media-icon>.icon{
    display: flex;
    gap: 10px;
}




/* responsive for mobile */

@media screen and (max-width: 576px) {
    header, .curriculum, .story{
        padding: 12px 16px;
    }

    /* navbar responsible style */
    nav{
        padding-bottom: 12px;
        border-bottom: 1px solid #FEA301;
    }
    nav>ul, nav>.web-title>h3, nav>button{
        display: none;
    }
    nav>.web-title>img{
        width: 42px;
        height: 42px;
    }
    .bar{
        display: block;
        width: 23px;
        height: 15px;
    }

    /* hero section responsive style */
    .hero{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero img{
        width: calc(100% - 16px);
    }

    /* curriculum section responsive style */


    .card{
        flex-direction: column;
    }

    .curriculum>.more-for-arrow{
        display: none;
    }


    /* story area responsive style */

    .m-story{
        width: 45vw;
    }
    .story .story-1{
        display: none;
    }
    .story .story-box{
        gap: 1vw;
        grid-template-areas: 
        "story-2 story-3"
        "story-4 story-5" ;
    }
    .story .story-box img{
        width: 45vw;
    }

    .story h4{
        margin: 24px 24px 14px;
        font-size: 1rem;
    }
    .story .date{
        padding: 8px 14px;
        left: 8px;
    }


    /* footer section responsive */
    footer{
        flex-direction: column;
        padding: 75px 20px 75px;
    }
    footer>div:first-child{
        width: calc(100vw - 40px);
    }

    footer .link{
        margin: 32px 0px;
    }
    
    
}
@media screen and (max-width: 400px) {
    .story .date{
        font-size: 0.8rem;
    }
}